<!-- Main heading -->
<body>
<div class="wrapper">

  <div class="mainHeading">
    <h1 > {{ mainHeading }}</h1>
  </div>

  <mat-toolbar class="myMenuBar" color="link">
      <span><button class="toolbar_button" mat-raised-button color="primary">Concerts</button></span>
      <span><button class="toolbar_button" mat-raised-button color="primary">Artists</button></span>
      <span><button class="toolbar_button" mat-raised-button color="primary"><span>Tickets</span></button></span>
  </mat-toolbar>
</div>

<footer class="footer">
  <mat-toolbar class="footer_toolbar flex">
    <button mat-fab color="primary">Login</button>
  </mat-toolbar>
</footer>
</body>

<router-outlet></router-outlet>
