<!-- Main heading -->
<body>
<div class="wrapper">

  <div class="mainHeading">
    <a routerLink="/"><h1> {{ mainHeading }}</h1></a>
  </div>

  <mat-toolbar class="myMenuBar" color="primary">
    <div layout="column" id="toolbarButtons">
      <span><a routerLink="/concerts"><button class="toolbar_button" mat-raised-button color="primary">Concerts</button></a></span>
      <span><a routerLink="/artists"><button class="toolbar_button" mat-raised-button color="primary">Artists</button></a></span>
      <span><a routerLink="/tickets"><button class="toolbar_button" mat-raised-button color="primary"><span>Tickets</span></button></a></span>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

</div>





<footer class="footer">
  <mat-toolbar class="footer_toolbar flex">
    <a routerLink="login"><button id="loginButton" mat-fab color="primary">Login</button></a>
    <div id="loginInfo" *ngIf="loggedInUser">
      <p> Logged in as {{username}}</p>
    </div>
    <button (click)="logoutUser()" id="logoutButton" mat-fab color="primary">Logout</button>
  </mat-toolbar>
</footer>
</body>



